
.container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap
}
.header {

    background-color:#1F2937;
    color:white;
    margin:-8px;
    margin-right:-8px;
    padding:8px;
    padding-bottom:48px;
    height:600px;
    
    
   

}

ul{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    gap:16px;
    justify-content:flex-end;
    align-items:center;
    font-size:18px
    
    

}

.logo
{
    width:150px;
    margin:-8;
    padding:0;
    font-size:24px
}

.top-header{
    width:1300px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap




}

.bottom-header{
    display:flex;
    width:1200px;
    font-size:18px;
    margin-left: 100px;
    ;

}

.bottom-header-left-side{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width:400px;
    margin-right:600px
    
    
   
}

.box{

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

box{
    background-color:grey;
    height:200px;
    width:200px;
    display:flex;
    justify-content:center
}

button {
    color:white;
    background-color:blue;
    height:50px;
    
}

.awesome-website {
    font-size:48px
}

.some-random-information {
    background-color:white;
    color:grey;
    margin:-8px;
    padding:8px;
    height:400px;
    margin-top:100px;
    padding-top:20px;
    text-align:center
    
}

.title{
    margin-bottom:32px

}

.info-pic {
    max-width:200px
}

.info-container {
    display:flex;
    justify-content:center;
    gap:52px
}


.quote{
    background-color:grey;
    color:white;
    margin:-8px;
    padding:8px;
    height:300px;
    margin-top:100px;
    padding-top:20px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center
}

.space {
    width:700px;
    font-size:36px;
    margin-left:100px
}

.Thor{
   margin-top:250px;
   margin-right:100px;
   font-size:20px;
   font-weight:bold;
  
}





